@import "./reset.scss";
@import "./vars.scss";

body {
  font-family: $fontBody;
  background: $colorLight;
  color: $colorDark;
  font-size: 62.5%;
  a {
    text-decoration: none;
    color: $colorDark;
  }
  .loading {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 6px solid darken($colorLight, 25);
    border-top-color: transparent;
    text-indent: -999em;
    position: absolute;
    left: 50%;
    top: 400px;
    margin: -28px 0 0 -28px;
    animation-name: spinLoader;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 2s;
  }
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 86px;
  line-height: 86px;
  border-top: 4px solid $colorPrimary;
  border-bottom: 1px solid darken($colorLight, 5);
  background: $colorLight;
  z-index: 2;
  >.title {
    position: absolute;
    left: 5%;
    top: 0;
    height: 86px;
    line-height: 86px;
    font-family: $fontHeadings;
    font-size: 3em;
    transition: opacity 0.25s linear;
    opacity: 0.85;
    &:hover {
      opacity: 1;
    }
  }
}


.navigation {
  .navigation-trigger {
    cursor: pointer;
    position: fixed;
    right: 5%;
    top: 20px;
    width: 50px;
    height: 50px;
    z-index: 2;
    transition: opacity 0.25s linear;
    opacity: 0.85;
    &:hover {
      opacity: 1;
    }
    span {
      background: $colorDark;
      height: 1px;
      position: absolute;
      left: 0;
      right: 0;
      transform-origin: center center 0;
      transition: all .3s ease-in-out 0.1s;
      &.top-line {
        top: 15px;
      }
      &.middle-line {
        top: 25px;
      }
      &.bottom-line {
        top: 35px;
      }
    }
    &.active {
      .top-line {
        top: 50%;
        transform: rotateZ(135deg);
      }
      .middle-line {
        opacity: 0;
      }
      .bottom-line {
        top: 50%;
        transform: rotateZ(-135deg);
      }
    }
  }
  .navigation-elements {
    background: darken($colorLight, 5);
    width: 100%;
    padding: 30px 5%;
    height: 560px;
    box-sizing: border-box;
    transition: all .15s ease-in-out;
    position: fixed;
    z-index: 1;
    &.active {
      top: 90px;
    }
    &.inactive {
      top: -650px;
    }
    .navigation-element {
      color: $colorDark;
      float: left;
      box-sizing: border-box;
      position: relative;
      .title {
        font-size: 2.6em;
        margin-bottom: 1em;
        padding-bottom: .3em;
        font-family: $fontHeadings;
        border-bottom: 1px solid lighten($colorDark, 75);
      }
      .meta-controls {
        position: absolute;
        width: 150px;
        height: 20px;
        right: 0;
        top: 2px;
        .meta-control {
          float: left;
          width: 65px;
          margin-left: 10px;
          height: 20px;
          line-height: 20px;
          background: $colorLight;
          text-align: center;
          cursor: pointer;
          &:hover {
            box-shadow: 0 2px 5px transparentize($colorDark, .75);
          }
        }
      }
      .option {
        display: inline-block;
        margin: 0 30% 6px 0;
        cursor: pointer;
        line-height: 20px;
        transition: all .25s ease-in-out;
        p {
          padding: 8px 16px;
          font-size: 1.2em;
          text-transform: uppercase;
          float: left;
        }
        i {
          float: left;
          vertical-align: middle;
          line-height: 20px;
          padding: 8px;
          opacity: 0.6;
        }
        &.active {
          background: $colorPrimary;
          &:hover {
            background: darken($colorPrimary, 10);
            box-shadow: 0 2px 5px transparentize($colorDark, .75);
          }
          i {
            border-right: 1px solid darken($colorPrimary, 25);
          }
        }
        &.inactive {
          background: lighten($colorDark, 75);
          &:hover {
            background: lighten($colorDark, 70);
            box-shadow: 0 2px 5px transparentize($colorDark, .75);
          }
          i {
            border-right: 1px solid lighten($colorDark, 50);
          }
        }
      }
    }
    .sorters-element {
      width: 23.33%;
      .sorters {
        .sorter {
        }
      }
    }
    .filters-element {
      width: 71.67%;
      margin-left: 5%;
      .filters {
        column-count: 3;
        .filter {
        }
      }
    }
  }
}


.items {
  margin-top: 90px;
  // opacity: 0;
  // animation: fadeIn ease-out 1;
  // animation-fill-mode: forwards;
  // animation-duration: .25s;
  margin-left: 6px;
  position: relative;
  .no-item {
    position: absolute;
    top: 35px;
    left: calc(5% - 6px);
    width: 250px;
    font-size: 1.4em;
    line-height: 1.6;
    color: lighten($colorDark, 50);
  }
  .item {
    float: left;
    width: 50%;
    padding-right: 6px;
    margin-bottom: 6px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    &.active {
      display: block;
    }
    &.inactive {
      display: none;
    }
    a {
      display: block;
      width: 100%;
      background: lighten($colorPrimary, 5);
    }
    .image {
      width: 100%;
      transition: filter .5s linear;
      vertical-align: middle;
    }
    .title {
      position: absolute;
      bottom: 0;
      height: 70px;
      line-height: 70px;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 3em;
      left: 30px;
      text-shadow: 0 0 10px $colorDark;
      color: $colorLight;
    }
    .state-list {
      position: absolute;
      bottom: 20px;
      right: 30px;
      height: 30px;
      .state {
        float: right;
        line-height: 30px;
        height: 30px;
        padding: 0 10px;
        margin-left: 10px;
        background: darken($colorLight, 5);
        color: $colorDark;
        font-size: 1.4em;
      }
    }
    &:hover {
      .image {
        filter: contrast(130%);
      }
    }
    .world-heritage-site {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 60px;
      height: 60px;
      .icon {
        width: 50px;
        height: 50px;
        padding: 5px;
        background: $colorLight;
        border-radius: 60px;
      }
      .tooltip-arrow {
        display: none;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 30px 15px;
        border-color: transparent transparent $colorLight transparent;
        position: absolute;
        right: 30px;
        top: 65px;
      }
      .tooltip {
        display: none;
        position: absolute;
        width: 300px;
        padding: 20px;
        background: $colorLight;
        color: $colorDark;
        right: 0;
        top: 95px;
        font-size: 1.2em;
        line-height: 1.5;
      }
      &:hover {
        .tooltip-arrow,
        .tooltip {
          display: block;
        }
      }
    }
  }
}


.modal.item {
  background: $colorLight;
  margin-top: -90px;
  z-index: 2;
  animation: fadeLeft ease-out 1;
  animation-fill-mode: forwards;
  animation-duration: .25s;
  margin: 10px 6px 6px;
  position: relative;
  .image {
    width: 100%;
    height: 460px;
    background-size: cover;
    background-position: center center;
    position: relative;
    .title {
      position: absolute;
      left: 20px;
      bottom: 0;
      height: 70px;
      line-height: 70px;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 3em;
      text-shadow: 0 0 10px $colorDark;
      color: $colorLight;
    }
    .close {
      position: absolute;
      right: 20px;
      top: 20px;
      background: $colorLight;
      padding: 10px;
      border-radius: 30px;
      text-align: center;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      &:hover {
        opacity: .8;
      }
    }
    .image-attribution {
      position: absolute;
      right: 20px;
      bottom: 20px;
      font-size: 1.4em;
      color: $colorLight;
      text-shadow: 0 0 10px $colorDark;
    }
    .states {
      position: absolute;
      right: 40px;
      top: 340px;
      color: $colorLight;
      .state {
        float: left;
        font-size: 1.3em;
        margin-left: 10px;
        background: $colorLight;
        padding: 6px 10px;
        border-radius: 2px;
      }
    }
  }
  .info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .details {
      padding: 3% 40px;
      width: 68%;
      .description {
        font-size: 1.8em;
        line-height: 1.6;
        margin-bottom: 30px;
        color: $colorLight;
      }
      .link {
        background: $colorDark;
        color: $colorLight;
        font-size: 1.3em;
        padding: 10px 15px 8px;
        border-radius: 2px;
        text-transform: uppercase;
        margin: 0 10px 60px 0;
        display: inline-block;
        width: auto;
        .material-icons {
          vertical-align: middle;
          margin-top: -3px;
        }
      }
      .world-heritage-site {
        display: flex;
        flex-direction: row;
        align-items: center;
        .icon {
          width: 60px;
          height: 60px;
          margin: 0 20px 0 0;
        }
        .text {
          font-size: 1.3em;
          line-height: 1.6;
          color: $colorLight;
          .text-link {
            text-decoration: underline;
          }
        }
      }
    }
    .stats {
      padding: 3% 40px;
      width: 32%;
      .key {
        padding: 0 0 20px;
        font-size: 2em;
        .material-icons {
          display: block;
          float: left;
          margin-right: 10px;
          padding: 10px;
          border-radius: 30px;
          background: $colorDark;
          color: $colorLight;
        }
        .value {
          height: 44px;
          line-height: 44px;
          display: inline-block;
        }
      }
    }
  }
  .map {
    width: 100%;
    height: 600px;
    .custom-marker {
    	width: 32px;
    	height: 18px;
      margin-left: -16px;
      margin-top: -9px;
    	background: $colorLight;
    	position: relative;
      &:before {
      	content: '';
      	position: absolute;
      	top: -8px;
      	left: 0;
      	width: 0;
      	height: 0;
      	border-left: 16px solid transparent;
      	border-right: 16px solid transparent;
      	border-bottom: 8px solid $colorLight;
      }
      &:after {
      	content: '';
      	position: absolute;
      	bottom: -8px;
      	left: 0;
      	width: 0;
      	height: 0;
      	border-left: 16px solid transparent;
      	border-right: 16px solid transparent;
      	border-top: 8px solid $colorLight;
      }
    }
  }
}


@media only screen and (max-width: 1468px) {
  .navigation {
    .navigation-elements {
      height: 420px;
      .navigation-element {
        .option {
          margin: 0 20% 6px 0;
          p {
            padding: 4px 8px;
            text-transform: capitalize;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          i {
            font-size: 18px;
            padding: 4px;
          }
        }
      }
      .filters-element {
        .filters {
          column-count: 4;
        }
      }
    }
  }
  .items {
    .item {
      .title {
        font-size: 2.2em;
      }
      .state-list {
        display: none;
      }
    }
  }
}


@media only screen and (max-width: 1280px) {
  .navigation {
    .navigation-elements {
      height: 480px;
      .navigation-element {
        .option {
          margin: 0 30% 6px 0;
        }
      }
      .filters-element {
        .filters {
          column-count: 3;
        }
      }
    }
  }
}


@media only screen and (max-width: 1100px) {
  .navigation {
    .navigation-elements {
      .navigation-element {
        .option {
          p {
            font-size: 1em;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 980px) {
  .navigation {
    .navigation-elements {
      height: 530px;
      .navigation-element,
      .sorters-element,
      .filters-element {
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
        .option {
          margin: 0 1% 6px 1%;
          width: 23%;
          p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: calc(100% - 48px);
          }
        }
      }
      .sorters-element {
        .sorters {

        }
      }
      .filters-element {
        .filters {
          column-count: 1;
        }
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  .navigation {
    .navigation-trigger {
      opacity: 1;
      top: auto;
      right: 3%;
      bottom: 1.5%;
      background: white;
      padding: 10px;
      border-radius: 35px;
      box-shadow: 0 0 5px transparentize($colorDark, .75);
      span {
        left: 16px;
        right: 16px;
        &.top-line {
          top: 25px;
        }
        &.middle-line {
          top: 35px;
        }
        &.bottom-line {
          top: 45px;
        }
      }
    }
    .navigation-elements {
      height: 660px;
      &.active {
        top: auto;
        left: 0;
      }
      &.inactive {
        top: auto;
        left: 100%;
      }
      .sorters-element {
        .option {
          width: 48%;
        }
      }
      .filters-element {
        .option {
          width: 31.33%;
        }
      }
    }
  }
  .items {
    .item {
      width: 100%;
      a {
        height: auto;
      }
      .title {
        font-size: 1.8em;
        bottom: 30px;
      }
      .state-list {
        left: 20px;
        right: auto;
        bottom: 10px;
        display: block;
        .state {
          font-size: 1em;
          height: 20px;
          line-height: 20px;
          float: left;
        }
      }
      .world-heritage-site {
        width: 40px;
        height: 40px;
        .icon {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
