html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes spinLoader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes slideDown {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(300px); } }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(300px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  background: #fefefe;
  color: #121212;
  font-size: 62.5%; }
  body a {
    text-decoration: none;
    color: #121212; }
  body .loading {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 6px solid #bebebe;
    border-top-color: transparent;
    text-indent: -999em;
    position: absolute;
    left: 50%;
    top: 400px;
    margin: -28px 0 0 -28px;
    animation-name: spinLoader;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 2s; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 86px;
  line-height: 86px;
  border-top: 4px solid #5fd2c8;
  background: #fefefe;
  z-index: 2; }
  .header > .title {
    position: absolute;
    left: 5%;
    top: 0;
    height: 86px;
    line-height: 86px;
    font-family: "Rozha One", "Times New Roman", Georgia, serif;
    font-size: 3em;
    transition: opacity 0.25s linear; }
    .header > .title:hover {
      opacity: 0.6; }

.navigation .navigation-trigger {
  cursor: pointer;
  position: fixed;
  right: 5%;
  top: 20px;
  width: 50px;
  height: 50px;
  z-index: 2;
  transition: opacity 0.25s linear; }
  .navigation .navigation-trigger:hover {
    opacity: 0.6; }
  .navigation .navigation-trigger span {
    background: #121212;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: center center 0;
    transition: all .3s ease-in-out 0.1s; }
    .navigation .navigation-trigger span.top-line {
      top: 15px; }
    .navigation .navigation-trigger span.middle-line {
      top: 25px; }
    .navigation .navigation-trigger span.bottom-line {
      top: 35px; }
  .navigation .navigation-trigger.active .top-line {
    top: 50%;
    transform: rotateZ(135deg); }
  .navigation .navigation-trigger.active .middle-line {
    opacity: 0; }
  .navigation .navigation-trigger.active .bottom-line {
    top: 50%;
    transform: rotateZ(-135deg); }

.navigation .navigation-elements {
  background: #f1f1f1;
  width: 100%;
  padding: 30px 5%;
  height: 500px;
  box-sizing: border-box;
  transition: all .15s ease-in-out;
  position: fixed;
  z-index: 1; }
  .navigation .navigation-elements.active {
    top: 90px; }
  .navigation .navigation-elements.inactive {
    top: -500px; }
  .navigation .navigation-elements .navigation-element {
    color: #121212;
    float: left;
    box-sizing: border-box; }
    .navigation .navigation-elements .navigation-element .title {
      font-size: 2.6em;
      margin-bottom: 1em;
      font-family: "Rozha One", "Times New Roman", Georgia, serif;
      border-bottom: 1px solid #d1d1d1; }
    .navigation .navigation-elements .navigation-element .option {
      padding: 8px 16px;
      margin: 0 50% 6px 0;
      font-size: 1.2em;
      text-transform: uppercase;
      display: inline-block;
      cursor: pointer;
      transition: opacity .25s ease-in-out; }
      .navigation .navigation-elements .navigation-element .option.active {
        background: #5fd2c8; }
      .navigation .navigation-elements .navigation-element .option.inactive {
        background: #d1d1d1; }
      .navigation .navigation-elements .navigation-element .option:hover {
        opacity: 0.7; }
  .navigation .navigation-elements .filters-element {
    width: 61.67%;
    margin-left: 5%; }
    .navigation .navigation-elements .filters-element .filters {
      column-count: 3; }

.page {
  margin-top: 90px; }
  .page.page-park-list .park-list {
    opacity: 0;
    animation: fadeIn ease-out 1;
    animation-fill-mode: forwards;
    animation-duration: .25s;
    animation-delay: .25s;
    margin-left: 6px;
    overflow: hidden; }
    .page.page-park-list .park-list .park {
      float: left;
      width: 50%;
      padding-right: 6px;
      margin-bottom: 6px;
      box-sizing: border-box;
      position: relative;
      overflow: hidden; }
      .page.page-park-list .park-list .park a {
        display: block;
        width: 100%;
        background: #73d8cf; }
      .page.page-park-list .park-list .park .image {
        width: 100%;
        transition: filter .5s linear;
        vertical-align: middle; }
      .page.page-park-list .park-list .park .title {
        position: absolute;
        bottom: 0;
        height: 70px;
        line-height: 70px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 3em;
        left: 30px;
        text-shadow: 0 0 10px #121212;
        color: #fefefe; }
      .page.page-park-list .park-list .park .state-list {
        position: absolute;
        bottom: 20px;
        right: 30px;
        height: 30px; }
        .page.page-park-list .park-list .park .state-list .state {
          float: right;
          line-height: 30px;
          height: 30px;
          padding: 0 10px;
          margin-left: 10px;
          background: #f1f1f1;
          color: #121212;
          font-size: 1.4em; }
      .page.page-park-list .park-list .park:hover .image {
        filter: contrast(130%); }
      .page.page-park-list .park-list .park .world-heritage-site {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 60px;
        height: 60px; }
        .page.page-park-list .park-list .park .world-heritage-site .icon {
          width: 50px;
          height: 50px;
          padding: 5px;
          background: #fefefe;
          border-radius: 60px; }
        .page.page-park-list .park-list .park .world-heritage-site .tooltip-arrow {
          display: none;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 30px 15px;
          border-color: transparent transparent #fefefe transparent;
          position: absolute;
          right: 30px;
          top: 65px; }
        .page.page-park-list .park-list .park .world-heritage-site .tooltip {
          display: none;
          position: absolute;
          width: 300px;
          padding: 20px;
          background: #fefefe;
          color: #121212;
          right: 0;
          top: 95px;
          font-size: 1.2em;
          line-height: 1.5; }
        .page.page-park-list .park-list .park .world-heritage-site:hover .tooltip-arrow,
        .page.page-park-list .park-list .park .world-heritage-site:hover .tooltip {
          display: block; }

@media only screen and (max-width: 768px) {
  .page.page-park-list .park-list .park {
    width: 100%; }
    .page.page-park-list .park-list .park a {
      height: auto; }
    .page.page-park-list .park-list .park .title {
      font-size: 1.8em;
      bottom: 30px; }
    .page.page-park-list .park-list .park .state-list {
      left: 20px;
      right: auto;
      bottom: 10px; }
      .page.page-park-list .park-list .park .state-list .state {
        font-size: 1em;
        height: 20px;
        line-height: 20px;
        float: left; }
    .page.page-park-list .park-list .park .world-heritage-site {
      width: 40px;
      height: 40px; }
      .page.page-park-list .park-list .park .world-heritage-site .icon {
        width: 30px;
        height: 30px; } }
